.App{
  width: 1000px;
  text-align: center;
  font-family: Arial;
}


.scrollable-div {
  background-color: #f1f1f1;
  overflow-x: scroll;
  white-space: nowrap;
  text-align: justify;
  padding: 0px;
  margin: 20px;
}

/* The answer selecteed by the user */
.selected {
  background-color: orange;
 
}

/* The list of options */
.options {
  padding: 8px;
  border: 2px solid #000;
  cursor: pointer;
  width: 40%;
  
  
  
}

ul {
  list-style-type: disc;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  
}


body{
  font-family: Verdana;
  font-size: 18px;
  background-color: lightgray; 
  height: 100px;
  padding: 45px;
  margin:20px;
}
